<template>
    <div>
        <label>
            <input v-for="i in (number)" :ref="`pin-${i}`" type="text" maxlength="1" :tabindex="i" placeholder="·"
                   :class="Class" autocomplete="off" @keydown="Backspace" @keypress="Next" :style="Style"
                   @keyup="CompleteCheck" @input="Next">
        </label>
    </div>
</template>

<style lang='scss' scoped>
    input {
        border: none;
        text-align: center;
        transition: border-bottom-color 0.5s;
        margin: 5px;

        text-transform: uppercase;

        &:focus {
            border-bottom: var(--hover);
        }
    }

    .complete {
        border-bottom: var(--complete);
    }

    .base {
        border-bottom: var(--base);

    }
</style>

<script lang='ts'>
    import {Component, Vue} from 'vue-property-decorator';

    const props = {
        number: Number,
        baseColor: String,
        fontSize: String,
        hoverColor: String,
        completeColor: String,
        onComplete: Function,
        onUnComplete: Function,
    };

    const Base = Vue.extend({props});

    @Component({props})
    export default class PinCode extends Base {
        complete = false;


        Pin(): string {
            let ret = '';
            for (let i = 1; i < this.number + 1; i++) {
                const input = (this.$refs[`pin-${i}`] as HTMLInputElement[])[0];
                ret += input.value;
            }
            return ret;
        }


        Next(e: KeyboardEvent) {
            const key = e.keyCode || e.which;
            const target = (e.target as HTMLInputElement);
            const index = target.getAttribute("tabindex")!.ToInt();
            const next = (target.nextSibling as HTMLElement | null);
            if (target.value.length === 1) {
                e.preventDefault();
                if (index != this.number && next != null) {
                    next!.focus();
                }
            }
            if ((key >= 48 && key <= 57) || (key >= 97 && key <= 122)) {
                Vue.nextTick(() => {
                    if (next != null)
                        next.focus();
                })
            }
        }

        Backspace(e: KeyboardEvent) {
            const key = e.keyCode || e.which;

            const target = (e.target as HTMLInputElement);
            const prev = target.previousSibling as HTMLInputElement | null;

            if (key == 8) {
                if (target.value.length < 1 && prev != null) {
                    prev.focus();
                }
            }

        }

        CompleteCheck() {
            const pin = this.Pin();
            if (pin.length === this.number) {
                this.complete = true;
                if (this.onComplete)
                    this.onComplete(pin);
            } else {
                if (this.complete) {
                    if (this.onUnComplete) {
                        this.onUnComplete(pin);
                    }
                }
                this.complete = false;
            }
        }

        get Class(): string {
            return this.complete ? "complete" : "base"
        }

        get Style() {
            const size = this.fontSize ?? "30px";
            const completeColor = this.completeColor ?? "green";
            const baseColor = this.baseColor ?? "black";
            const hoverColor = this.complete ? completeColor : (this.hoverColor ?? "blue");

            return {
                width: size,
                height: size,
                fontSize: size,
                "--base": "3px solid " + baseColor,
                "--complete": "3px solid " + completeColor,
                "--hover": "3px solid " + hoverColor,
            }
        }

    }
</script>
