<template>
    <div class="main">
        <div class="key">
            Creator:
        </div>
        <div class="val">
            <a href="https://kirinnee.dev">Kirinnee</a>
        </div>
        <div class="key">
            Voice Actor:
        </div>
        <div class="val">
            <a href="https://instagram.com/hochinchee">Ho Chin Chee</a>
        </div>
        <div class="key">
            Original Game:
        </div>
        <div class="val">
            <a href="https://findtheinvisiblecow.com/">The Invisible Cow</a>
        </div>
        <div class="key">
            Sprites:
        </div>
        <div class="val">
            <a href="https://favicon.io/">Favicon.io</a>
        </div>
        <div class="key">
            Source:
        </div>
        <div class="val">
            <a href="https://gitlab.com/follow-the-sound">GitLab</a>
        </div>
        <div class="key">
            Key Open Source Libraries
        </div>
        <div class="val">
            Vue.js, TypeScript, Howler.js, Workbox, Webpack, Mocha, Chai, CyanPrint, SASS
        </div>
        <router-link class="button b" to="/start">Back</router-link>
    </div>
</template>

<style lang='scss' scoped>
    .main {
        font-family: Raleway, sans-serif;

        .key {
            font-weight: bold;
        }

        .val {
            margin-bottom: 20px;
        }


        .b {
            font-size: 20px;
            padding: 10px 20px;
            margin: 20px;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 90%;
        max-width: 300px;
        margin: auto;

    }
</style>

<script lang='ts'>
    import {Component, Vue} from 'vue-property-decorator';

    const props = {};

    const Base = Vue.extend({props});

    @Component({props})
    export default class Credit extends Base {

    }
</script>
