<template>
    <div class="dis">
        Oops, it seems like you disconnected :<
    </div>
</template>

<style lang='scss' scoped>
    .dis {
        font-size: 40px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>

<script lang='ts'>
    import {Component} from 'vue-property-decorator';
    import {Game} from "../init";

    const props = {};

    const Base = Game.extend({props});

    @Component({props})
    export default class Disconnected extends Base {

    }
</script>
