<template>
    <div class="main">
        <div class="leaderboard">
            <div v-for="i in Members">
                <div :style="{color: i.color}">{{i.name}} - {{i.score}}</div>
            </div>
        </div>
        <div class="position">
            <div v-for="i in Members">
                <div :style="{backgroundColor: i.color} " class="dot" :id="`dot-${i.id}`"></div>
            </div>
        </div>
        <div class="game" @click="ClickHandler">
            <img :src="Animal" alt="notfound" class="image" v-show="won" id="win-animal">
            <div v-show="won" class="winner" id="victory">{{winner}} won!!</div>
        </div>
    </div>
</template>

<style lang='scss' scoped>

    .winner {
        padding: 20px 40px;
        opacity: 0;
        font-size: 30px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 1s;
        background: white;
        border: 1px solid black;
        border-radius: 5px;
    }

    .image {
        position: absolute;
        width: 200px;
        height: 200px;
        transform: translate(-50%, -50%);
    }

    .dot {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        opacity: 0;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .position {
        z-index: -1;
    }

    .main, .position {
        width: 100%;
        height: 100%;
    }

    .leaderboard {
        z-index: -1;
        position: absolute;
        right: 0;

    }

    .game {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

</style>

<script lang='ts'>
    import {Component} from 'vue-property-decorator';
    import {$$, client, Game} from "../init";
    import {SortType} from "@kirinnee/core";
    import {Member, Resp} from "../../../classLibrary/Resp";
    import {animals} from "../images";

    const props = {};

    const Base = Game.extend({props});

    @Component({props})
    export default class GameApp extends Base {
        won = false;
        winner = '';
        sound?: Howl;


        get Animal(): string {
            return animals[this.state.animalType].image;
        }

        ClickHandler(e: MouseEvent) {
            if (this.won)
                return;
            const x = (e.x / window.innerWidth * 100).ToInt();
            const y = (e.y / window.innerHeight * 100).ToInt();
            const d = (((this.state.x - x).Abs() ** 2) + ((this.state.y - y).Abs() ** 2)).Root().AtMin(0);
            if (!this.sound?.playing()) {
                this.sound?.play();
            }
            if (d < 20) {
                this.sound?.volume(1);
            } else if (d < 35) {
                this.sound?.volume(0.1);
            } else if (d < 70) {
                this.sound?.volume(0.05);
            } else {
                this.sound?.volume(0.01);
            }
            if (!this.sound?.playing()) {
                this.sound?.play();
            }
            const id = `dot-${this.state.id}`;
            const ele = document.getElementById(id);
            if (ele) {
                ele.style.left = x + "%";
                ele.style.top = y + "%";
                ele.style.opacity = '0.3';
            }
            client.Send({type: "pos", content: "", meta: {x, y,}});

            if ((x > this.state.x - 5 && x < this.state.x + 5) && (y > this.state.y - 5 && y < this.state.y + 5)) {

                client.Send({type: "win", content: "", meta: {}})
            }
        }

        mounted() {
            this.sound = animals[this.state.animalType].sound;
            this.sound.volume(0.01);
            this.sound.rate(1);
            this.sound.play();
        }

        created() {

            client.RegisterCloseEventHandler("game", () => {
                this.$router.push("/dis")
            });

            client.RegisterMessageEventHandler("game", async (e: Resp) => {
                switch (e.type) {
                    case "pos":
                        await $$(500);
                        const id = `dot-${e.sender}`;
                        console.log(e.sender, this.state.id, e.sender == this.state.id);
                        if (e.sender == this.state.id) {
                            console.log("break");
                            return;
                        }
                        const ele = document.getElementById(id);
                        if (ele) {
                            ele.style.left = e.meta.x + "%";
                            ele.style.top = e.meta.y + "%";
                            ele.style.opacity = '0.3';
                        }
                        return;

                    case "win":
                        const winner = e.sender;
                        this.state.winner = winner;
                        this.winner = e.senderName;
                        if (winner == this.state.id) {
                            this.winner = "You";
                            this.state.wins++;
                            this.state.Save();
                        }
                        this.won = true;
                        this.sound?.stop();
                        const winEle = document.getElementById("win-animal");
                        const victory = document.getElementById("victory");
                        if (winEle && victory) {
                            winEle.style.left = this.state.x + "%";
                            winEle.style.top = this.state.y + "%";
                            winEle.style.transition = "opacity 0.5s, left 1s, top 1s";
                            winEle.style.opacity = '1';
                            await $$(500);
                            winEle.style.left = "50%";
                            winEle.style.top = "50%";
                            await $$(1000);
                            victory.style.opacity = '1';
                            await $$(3000);
                            this.state.inGame = false;
                            this.$router.push("/result")
                        }
                        return;
                }
            })
        }

        destroyed() {
            client.UnRegisterMessageEventHandler("game");
            client.UnRegisterCloseEventHandler("game");
            this.sound?.stop()
        }

        get Members(): Member[] {
            return this.state.players.Sort(SortType.Descending, e => e.score);
        }
    }
</script>
