<template>
    <div class="main">
        <h1>How to Play</h1>
        <div>
            Join a room with up to 5 friends. When the game starts, click anywhere on the screen (including
            words, footers etc) to find the hidden animal. The volume of the game sound indicates the distance
            of your click from the animal. The louder, the closer the animal is.
            The first person to find the animal wins.
        </div>
        <div>
            You can see other player's clicks during the game. The are a variety of animals, and you can unlock
            more animals as you win more games
        </div>
        <router-link class="button b" to="/start">Back</router-link>
    </div>
</template>

<style lang='scss' scoped>
    .main {
        .b {
            font-size: 20px;
            padding: 10px 20px;
            margin: 20px;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 90%;
        max-width: 300px;
        margin: auto;

        div {
            padding: 10px;
        }
    }
</style>

<script lang='ts'>
    import {Component, Vue} from 'vue-property-decorator';

    const props = {};

    const Base = Vue.extend({props});

    @Component({props})
    export default class GamePlay extends Base {

    }
</script>
