<template>
    <div class="main">
        <label>
            Name<br>
            <input type="text" @input="nameTyped=true" v-model="name" :class="HasError ? 'err' : ''"/>
            <div class="error" :style="{opacity: HasError ? 1 : 0}">{{NameError}}</div>
        </label>

        <div class="button b" @click="Next">
            Next
        </div>
    </div>
</template>

<style lang='scss' scoped>

    .error {
        margin: 10px 0;
        text-align: left;
        font-size: 16px;
        color: darkred;
    }


    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        max-width: 250px;
        margin: auto;
        text-align: left;
        padding: 20px;
    }

    .b {
        width: 100%;
        margin: 0;
        font-size: 20px;
        padding: 10px;
        box-sizing: border-box;
    }

    label {
        font-size: 30px;
    }

    input {
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        font-size: 20px;
        border: 1px solid black;
        box-sizing: border-box;

        &:focus {
            outline: none !important;
            border: 1px solid deepskyblue;
        }
    }

    .err {
        border: 1px solid red;

        &:focus {
            border: 1px solid red;

        }
    }
</style>

<script lang='ts'>
    import {Component} from 'vue-property-decorator';
    import {Game} from "../init";

    const props = {};

    const Base = Game.extend({props});

    @Component({props})
    export default class Home extends Base {
        nameTyped: boolean = false;
        name: string = '';

        Next() {
            this.nameTyped = true;
            if (this.HasError) {
                return;
            }
            this.state.name = this.name;
            this.state.Save();
            this.$router.push("/start")
        }

        get HasError(): boolean {
            return this.nameTyped && this.NameError != "";
        }

        get NameError(): string {
            const n = this.name;
            if (n.IsEmpty()) {
                return "Name required"
            }
            if (n.length < 2) {
                return "Name too short"
            }
            if (n.length > 64) {
                return "Name too long"
            }
            if (!n.IsAlphanumeric()) {
                return "Only alphanumeric characters allowed, without spaces"
            }
            return '';
        }
    }
</script>
