<template>
    <div class="main">
        <div>
            <div class="title">Please enter Room Code:</div>
            <div>
                <PinCode :number="5" :on-complete="Complete" :complete-color="Color" :on-un-complete="UnComplete"
                         hover-color="#4ac9f0" font-size="40px"/>
                <div class="err"> {{error}}</div>
            </div>
        </div>
    </div>
</template>

<style lang='scss' scoped>

    .title {
        margin: 30px;
        font-size: 25px;
    }

    .err {
        color: darkred;
        margin: 30px;
    }

    .main {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>

<script lang='ts'>
    import {Component} from 'vue-property-decorator';
    import PinCode from "../components/PinCode.vue";
    import {client, Game} from "../init";
    import nProgress from "nprogress";

    const props = {};

    const Base = Game.extend({props});

    @Component({
        components: {PinCode},
        props
    })
    export default class JoinRoom extends Base {
        error = '';

        created() {
            client.Close();
        }

        fail = false;

        async UnComplete() {
            this.fail = false;
            this.error = '';
        }

        get Color(): string {
            return this.fail ? '#ff4f4f' : '#1bf723'
        }

        async Complete(code: string) {

            code = code.toLowerCase();
            nProgress.start();
            const [success, reason] = await client.JoinRoom(this.state.name, code);
            if (success) {
                this.state.roomCode = reason;
                await this.$router.push(`/wait`)
            } else {
                this.error = reason;
                this.fail = true;
                nProgress.done();
            }
        }
    }
</script>
