<template>
    <div class="main">
        <h1>Result for <span>{{RoomCode}}</span></h1>
        <div class="win">Winner: {{Winner}}</div>
        <div>Leader Board</div>
        <div>
            <div v-for="m in Members">
                <div class="hori">
                    <div class="name"> {{m.name}}</div>
                    <div class="score"> {{m.score}}</div>
                </div>
            </div>
        </div>
        <div class="target" v-show="ok && EnoughPlayers">
            Find: <select v-model="ans">
            <option v-for="a in Animals" :value="a"> {{a}}</option>
        </select>

        </div>
        <div class="button b" v-show="ok && EnoughPlayers" @click="Start">
            Next Game
        </div>
        <div class="button b" v-show="ok" @click="BackHome">
            Exit
        </div>
        <div class="overlay" v-if="unlock">

        </div>
        <div v-if='unlock' class="modal">

            <div>
                Congratulations, you have unlocked {{Unlock}}!!
            </div>
            <div class="button b" @click="unlock=false">
                OK
            </div>
        </div>
    </div>
</template>

<style lang='scss' scoped>

    .overlay {
        position: absolute;
        top: 0;
        background: #00000020;
        width: 100%;
        height: 100%;
    }

    .modal {
        background: white;
        border-radius: 5px;
        border: 1px solid black;
        width: 250px;
        padding: 20px;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        span {
            text-transform: uppercase;
            font-family: monospace;
            color: #1a4a7d;
        }
    }

    .target {
        margin: 30px;
        font-size: 18px;

        select {
            padding: 5px;
            font-family: Raleway, sans-serif;
            font-size: 20px;

            option {
                font-family: Raleway, sans-serif;
                text-align: center;
            }

            width: 100px;
            text-align: center;
        }
    }

    .b {
        padding: 10px 20px;
        margin: 10px;
        width: 200px;

    }

    .win {
        font-size: 20px;
        margin: 20px;
        color: brown;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .hori {
        padding: 10px 20px;
        display: flex;
        width: 300px;
        font-size: 30px;
        border: 1px solid black;
        border-bottom: none;

        .name {
            text-align: left;
            width: 70%;
        }

        .score {
            text-align: right;
            width: 30%;
        }

        &:last-child {
            border-bottom: 1px solid black;
        }
    }
</style>

<script lang='ts'>
    import {Component} from 'vue-property-decorator';
    import {$$, AllAnimals, client, Game} from "../init";
    import {Member, Resp, RoomState} from "../../../classLibrary/Resp";
    import {SortType} from "@kirinnee/core";

    const props = {};

    const Base = Game.extend({props});

    @Component({props})
    export default class ResultRoom extends Base {
        destroyed() {
            client.UnRegisterCloseEventHandler('result')
        }

        players: Member[] = [];
        ok = false;
        ans = this.state.prevSelection;
        unlock = false;
        Unlock = '';

        mounted() {
            const matches = AllAnimals.Where(e => e[1] == this.state.wins);
            if (matches.length === 1 && this.state.winner == this.state.id) {
                this.Unlock = matches[0][0];
                this.unlock = true;
            }
        }

        get RoomCode(): string {
            return this.state.roomCode;
        }

        get EnoughPlayers(): boolean {
            return this.players.length > 1;
        }

        get Animals(): string[] {
            return this.state.Animals()
        }

        get Members(): Member[] {
            return this.players.Sort(SortType.Descending, e => e.score);
        }

        get Winner(): string {
            if (this.state.winner == this.state.id) {
                return "You"
            } else {
                return this.state.players.Find(e => e.id == this.state.winner)?.name ?? "no one"
            }
        }

        Start() {
            client.Send({type: "newgame", content: "", meta: {animal: this.ans, difficulty: 1}});
            this.state.prevSelection = this.ans;
        }

        BackHome() {
            client.Close();
            this.$router.push("/");
        }

        async created() {
            this.state.inGame = false;
            client.RegisterMessageEventHandler('result', (e: Resp) => {
                switch (e.type) {
                    case "room-status" :
                        const rs = e.meta as RoomState;
                        this.players = rs.members;
                        this.state.players = rs.members;
                        return;
                    case "newgame":
                        this.state.inGame = true;
                        this.state.x = e.meta.x;
                        this.state.y = e.meta.y;
                        this.state.animalType = e.original.animal;
                        this.$router.push("/game");
                        return;
                    case "quit":
                        client.Send({type: "room-status", content: "", meta: {}});
                        return;
                    default:
                        return;
                }
            });
            client.Send({type: "room-status", content: "", meta: {}});

            await $$(1500);
            this.ok = true;
        }
    }
</script>
