<template>
    <div class="main">
        <div class="err">
            {{error}}
        </div>

        <div class="name">
            {{Name}}
        </div>
        <div class="wins">
            Number of Wins: {{Wins}}
        </div>
        <div class="wins last">
            Next Animal: {{NextAnimal}} wins
        </div>
        <div class="button b" @click="Create">
            Create
        </div>
        <router-link to="/join" class="button b">
            Join
        </router-link>
        <router-link to="/rule" class="button b">
            How to play
        </router-link>
        <router-link to="/credits" class="button b">
            Credits
        </router-link>

        <div v-show="PromptPWA" class="tempt">
            Like this game? <br>Add to your home screen!
        </div>
        <div class="button a" @click="Prompt" v-show="PromptPWA">
            Install
        </div>
    </div>
</template>

<style lang='scss' scoped>


    .name {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .tempt {
        margin: 50px 20px 20px;
    }


    .a {
        padding: 10px 20px;
    }

    .err {
        margin: 30px;
        color: darkred;
        font-size: 16px;
    }

    .wins {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .last {

        margin-bottom: 20px;
    }

    .b {
        padding: 8px 15px;
        margin: 10px 0;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 90%;
        max-width: 250px;
        margin: auto;

    }
</style>

<script lang='ts'>
    import {Component} from 'vue-property-decorator';
    import {$$, AllAnimals, client, Game, isMobile, isPWA} from "../init";
    import {deferredPrompt} from "../index";
    import nProgress from "nprogress";
    import {SortType} from "@kirinnee/core";

    const props = {};

    const Base = Game.extend({props});

    @Component({props})
    export default class Start extends Base {
        error: string = '';

        get Wins(): string {
            return this.state.wins.toString()
        }


        created() {
            client.Close();
        }

        get Name(): string {
            return this.state.name
        }


        get PromptPWA(): boolean {
            return !isPWA() && isMobile();
        }

        Prompt() {
            deferredPrompt.prompt();
        }

        get NextAnimal() {
            return AllAnimals.Where(e => e[1] > this.state.wins)
                .Sort(SortType.Ascending, e => e[1])
                .Take()![1]
        }

        async Create() {
            nProgress.start();
            const [success, reason] = await client.CreateRoom(this.state.name);
            await $$(500);
            if (success) {
                this.state.roomCode = reason;
                await this.$router.push("/wait");
                nProgress.done();
            } else {
                this.error = reason;
                nProgress.done();
            }

        }
    }
</script>
