<template>
    <div class="main">
        <div class="notif" :class="Class">
            {{notification}}
        </div>
        <h1>Room</h1>
        <div class="code">
            <div>Code:</div>
            <div class="code">{{Code}}</div>
        </div>

        <div>
            <div v-for="m in roomState" class="members">
                {{m.name}}
            </div>
        </div>
        <div class="target">
            Find: <select v-model="ans">
            <option v-for="a in Animals" :value="a"> {{a}}</option>
        </select>
        </div>

        <div class="button b" v-if="roomState.length > 1" @click="Start">
            start
        </div>
    </div>
</template>

<style lang='scss' scoped>

    .target {
        margin: 30px;
        font-size: 18px;

        select {
            padding: 5px;
            font-family: Raleway, sans-serif;
            font-size: 20px;

            option {
                font-family: Raleway, sans-serif;
                text-align: center;
            }

            width: 100px;
            text-align: center;
        }
    }

    .notif {

        border: 1px solid black;
        border-radius: 5px;
        width: 300px;
        padding: 10px 0;
        margin: 10px auto;

    }

    .b {
        padding: 10px 20px;
        width: 250px;
        margin: 30px auto;

    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .exist {
            opacity: 1;
        }

        .gone {
            transition: opacity 4s;
            opacity: 0;
        }

        .members {
            padding: 10px;
            text-transform: uppercase;
            font-size: 30px;
            border: 1px solid black;
            width: 300px;
            margin: 0 auto;
            border-bottom: none;

            &:last-child {
                border-bottom: 1px solid black;
            }
        }

        .code {
            font-size: 30px;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;

            div {
                margin: 5px;
            }

            .code {
                font-family: monospace;
                color: #1a4a7d;
            }
        }
    }
</style>

<script lang='ts'>
    import {Component} from 'vue-property-decorator';
    import {client, Game} from "../init";
    import {Member, Resp, RoomState} from "../../../classLibrary/Resp";

    const props = {};

    const Base = Game.extend({props});

    @Component({props})
    export default class WaitingRoom extends Base {
        get Code(): string {
            return this.state.roomCode.toUpperCase();
        }

        timeout: any = null;

        roomState: Member[] = [];
        notification = '';
        gone = true;
        ans = this.state.prevSelection;


        get Class(): string {
            return this.gone ? 'gone' : 'exist';
        }


        get Animals(): string[] {
            return this.state.Animals()
        }

        destroyed() {

            client.UnRegisterCloseEventHandler('waiting-room')
        }

        created() {
            client.RegisterMessageEventHandler('waiting-room', (e: Resp) => {
                switch (e.type) {
                    case "room-status" :
                        const rs = e.meta as RoomState;
                        this.roomState = rs.members;
                        this.state.players = rs.members;
                        return;
                    case "join":
                        clearTimeout(this.timeout);

                        this.gone = false;
                        this.notification = `${e.meta.name} joined the room`;
                        this.timeout = setInterval(() => {
                            this.gone = true;
                        }, 1000);
                        return;
                    case "quit":
                        clearTimeout(this.timeout);

                        this.gone = false;
                        this.notification = `${e.meta.name} left the room`;
                        this.timeout = setInterval(() => {
                            this.gone = true;
                        }, 1000);
                        client.Send({type: "room-status", content: "", meta: {}});
                        return;
                    case "newgame":
                        this.state.inGame = true;
                        this.state.x = e.meta.x;
                        this.state.y = e.meta.y;
                        this.state.animalType = e.original.animal;
                        this.$router.push("/game");
                        return;
                    default:
                        return;
                }
            });
            client.Send({type: "room-status", content: "", meta: {}})
        }

        Start() {

            client.Send({type: "newgame", content: "", meta: {animal: this.ans, difficulty: 1}});
            this.state.prevSelection = this.ans;
        }
    }
</script>
