<template>
    <div class="master">
        <h1>Follow the Sound</h1>
        <router-view :state="gameState"/>
        <footer :style="InGame">Made with ❤ by <a href="https://kirinnee.dev">kirinnee</a></footer>
    </div>
</template>

<style scoped lang="scss">
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    h1 {
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 0;
    }

    .master {
        height: 100%;
        width: 100%;
    }
</style>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import NavBar from './components/NavBar.vue';
    import {userState} from "./init";
    import {UserState} from "../../classLibrary/UserState";

    @Component({
        components: {
            NavBar,
        }
    })

    export default class App extends Vue {

        gameState: UserState = userState;

        get InGame() {
            return {
                zIndex: this.gameState.inGame ? '-1' : '1'
            }
        }
    }
</script>
