body {
  font-family: "Roboto Light", sans-serif;
  text-align: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}


.button {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-align: center;
  user-select: none;
  cursor: pointer;
  display: block;
  text-decoration: none;

  color: black;

  &:active {
    background-color: #00000020;
  }
}

//*:not(input) {
//  -webkit-touch-callout: none;
//  -webkit-user-select: none;
//  -khtml-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//  -webkit-tap-highlight-color: transparent;
//}

//*:focus {
//  outline: none !important;
//}